.about {
  background-color: #1B262F;
  padding: 100px 0 100px 0;
  background-image: url("../../img/Bitmap.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% - 570px);
  background-position-y: calc(50% - 200px);
  background-size: 780px 780px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #FBFCFE;
  margin: 0;
}

.about__text {
  max-width: 445px;
  margin: 0;
  margin: 20px 0 29px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.about__link-btn {
  border: 1px solid #FBFCFE;
  border-radius: 24px;
  text-decoration: none;
  color: #fff;
  padding: 15px 32px 15px 32px;
}

.about__link-btn:hover {
  color: #000;
  background-color: rgb(206, 206, 206);
  border: 1px solid rgb(206, 206, 206);
}


.about__link-btn:active {
  color: #000;
  background-color: #fff;
}


.about__list {
  width: 536px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding: 0;

  align-items: center;
}

.about__link {
  display: flex;
  align-items: center;
}

.about__img {
  margin-bottom: 40px;
}


@include breakpoint-down(1057px) {
  .about__heading {
    font-size: 42px;
  }
  
  .about__text {
    max-width: 380px;
  }

  .about {
    background-position-x: calc(50% );
    background-position-y: calc(50% - 560px);
    background-size: 1200px 1200px;
  }
  
}


@include breakpoint-down(991px) {
  .about__list {
    width: 390px;
    padding-right: 50px;
  }

  .about__item {
    margin-bottom: 30px;
  }
}


@include breakpoint-down(834px) {
  .about__wrapper {
    flex-direction: column-reverse;
  }
  
  .about__heading {
    font-size: 50px;
  }
  
  .about__text {
    max-width: 468px;
  }

  .about__inner {
    max-width: 667px;
    text-align: center;
  }

  .about__list {
    width: 536px;
    padding: 0;
  }

  .about {
    background-position-x: calc(50% );
    background-position-y: calc(50% - 660px);
    background-size: 1200px 1200px;
  }
}

@include breakpoint-down(601px) {
  .about__list {
    width: 359px;
  }

  .about__text {
    max-width: 387px;
  }
}

@include breakpoint-down(520px) {
  .about__list {
    width: 272px;
    display: flex;
    align-items: center;
  }

  .about__heading {
    font-weight: 400;
    font-size: 33px;
    line-height: 36px;
  }

  .about__text {
    max-width: 294px;
    font-size: 14px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .about__img {
    width: 120px;
    height: 22px;
  }

  .about__img {
    margin-bottom: 24px;
  }

  .about__res {
    height: 37px;
  }

  .about {
    background-position-x: calc(50% );
    background-position-y: calc(50% - 760px);
    background-size: 1200px 1200px;
  }

}
