.footer {
  background-color: rgb(27, 38, 47);
  padding: 31px 0 31px 0;
  background-image: url("../../img/bck-img.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 682px) calc(50% + 199px);
  background-size: 780px 780px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__inner {
  width: 432px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

.footer-link {
  display: flex;
  align-items: center;
}

.footer__logo {
  margin-top: 15px;
}

.footer__img:hover {
  filter: invert(62%) sepia(65%) saturate(1194%) hue-rotate(297deg) brightness(92%) contrast(85%);
}

.footer__img:active {
  filter: invert(13%) sepia(77%) saturate(6844%) hue-rotate(347deg) brightness(99%) contrast(109%);
}



@include breakpoint-down(685px) {
  .footer__inner {
      width: 385px;
  }
  
  .footer {
    background-position: calc(50% + 10px) calc(50% + 330px);
    background-size: 700px 700px;
  }
}

@include breakpoint-down(787px) {
  .footer {
    background-position: calc(50% + 10px) calc(50% + 309px);
    background-size: 823px 700px;
  }
}

@include breakpoint-down(589px) {

  .footer__wrapper {
    flex-direction: column;
    text-align: center;
    max-width: 155px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__inner {
      max-width: 135px;
      flex-direction: column;
      
  }

}