.ready {
  padding-bottom: 100px;
}

.ready__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 50px;
}

.ready__item {
  text-align: center;
}


.ready__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.138462px;
  color: #36536B;
  margin: 0;
  margin: 20px 0 10px 0;
}

.ready__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #6C8294;
  margin: 0;
}

.ready__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ready__headiing {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #36536B;
  margin: 0;
  margin-top: 40px;
}

@include breakpoint-down(844px) {
  .ready__inner {
    flex-direction: column;
  }
  .ready__img {
    width: 90px;
    height: 90px;
  }
}


@include breakpoint-down(743px) {
  .ready__list {
    flex-direction: column;
    align-items: center;
  }

  .ready__img {
    width: 106px;
    height: 106px;
  }

  .ready__text {
    max-width: 437px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #6C8294;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .ready__headiing {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;
    color: #36536B;
    margin: 0;
    margin-top: 31px;
  }
}
